 <section class="city">
    <div class="container">
      <img class="logo img-responsive" src="../images/misc/ralogo_monogram.png" alt="Roux Academy Logo">
    </div>
  </section>

  <section class="conferenceinfo">
    <div class="container">
      <h1>Gulp Build System</h1>
      <h2 class="tagline"></h2>

      <p>Optimizing your website assets and testing your design across different browsers is certainly not the most fun part of the design process. Luckily, it consists of repetitive tasks that can be automated with the right tools to improve your efficiency</p>
      <p>Gulp is a build system that can improve how you develop websites by automating common tasks, such as compiling preprocessed CSS, minifying JavaScript and reloading the browser. </p>
    </div>
  </section>

  <section class="featuredartists">
    <div class="container">
      <h1>Gulp Tasks</h1>
     
      <p>Gulp is a build system, meaning that you can use it to automate common tasks in the development of a website. It’s built on Node.js, and both the Gulp source and your Gulp file, where you define tasks, are written in JavaScript (or something like CoffeeScript, if you so choose). 
      </p>
      <p>This makes it perfect if you’re a front-end developer: You can write tasks to lint your JavaScript and CSS, parse your templates, and compile your LESS when the file has changed (and these are just a few examples), and in a language that you’re probably already familiar with.</p>


    </div><!-- container -->
  </section>

  <section class="potterypix"></section>

  <section class="aboutvenue">
    <div class="container">
      <h1>Gulp Watch/build/install</h1>
      <p>Let’s create a Gulp task to minify one of our JavaScript files. Create a file named gulpfile.js. This is where you will define your Gulp tasks, which will be run using the gulp command.</p>

      <p>Gulp by itself doesn’t really do much, but a huge number of plugins are available, which you can see on the plugins page or by searching gulpplugin on npm. For example, there are plugins to run JSHint, compile your CoffeeScript, run Mocha tests and even update your version number.
Other build tools are available, such as Grunt and, more recently, Broccoli, but I believe Gulp to be superior (see the “Why Gulp?” section below). I’ve compiled a longer list of build tools written in JavaScript.
      </p>
    </div>
  </section>

  <section class="workshoppix img-responsive"></section>


